@use '/src/styles/constants/colors';

.appWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: colors.$WHITE;

  .app {
    background-color: colors.$BLACK;
    width: 414px;
    height: 736px;
  }
}
