@use '/src/styles/constants/colors';

.modalWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  .modal {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 320px;
    padding: 25px 15px 105px 15px;
    background-color: colors.$WHITE;
    border-radius: 7px;

    .modalMovieImg {
      min-width: 100%;
      height: 200px;
      margin-top: 20px;
      object-fit: cover;
      object-position: center;
    }

    .modalDescWrap {
      text-align: center;

      .modalDescType {
        display: inline-block;
        padding: 2px 8px;
        color: #ffffff;
        background-color: colors.$GRAY7C;
        font-size: 14px;
        border-radius: 3px;
      }

      .modalDescTitle {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        width: 100%;
        margin: 10px 0;
        color: colors.$BLACK;
        font-size: 20px;
        font-weight: bold;
        overflow: hidden;
        white-space: normal;
        line-height: 25px;
      }

      .modalDescYear {
        color: colors.$GRAY7C;
        font-size: 14px;
      }
    }

    .detailMenuWrap {
      display: flex;
      align-items: center;
      justify-content: space-around;
      position: absolute;
      bottom: 0px;
      width: 100%;
      height: 80px;
      background-color: colors.$BLACK;
      border-top: 1px solid colors.$GRAY7C;

      .detailBtnWrap {
        width: 100%;

        .detailBtn {
          display: flex;
          align-items: center;
          flex-direction: column;

          .bookmarkBtnWrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin-top: 3px;

            .starIconNone,
            .closeIcon {
              width: 28px;
              height: 28px;
              padding: 4px;
              margin-bottom: 7px;
              fill: colors.$GRAY7C;
              cursor: pointer;
              border: 2px solid colors.$GRAY7C;
              border-radius: 50%;
            }

            .detailTitle {
              color: colors.$WHITE;
            }

            .starIcon {
              width: 28px;
              height: 28px;
              padding: 4px;
              margin-bottom: 7px;
              fill: colors.$HOTPINK;
              cursor: pointer;
              border: 2px solid colors.$HOTPINK;
              border-radius: 50%;
            }
          }
        }
      }

      .detailBtnWrap:first-child {
        padding-left: 10px;
      }

      .detailBtnWrap:last-child {
        padding-right: 10px;
      }
    }
  }

  .modalBg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: colors.$BLACK;
    opacity: 0.6;
    z-index: -1;
  }
}
